aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.7
async-timeout==3.0.1
attrs==19.3.0
automium==0.2.6
automium-web==0.1.1
beautifulsoup4==4.8.2
cachetools==4.1.0
cchardet==2.1.6
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
click==6.7
cssselect==1.1.0
cycler==0.10.0
dirichlet==0.9
dnspython==1.16.0
docutils==0.16
elasticsearch==7.6.0
fake-useragent==0.1.11
Flask==1.1.2
Flask-API.yandex==0.6.2.1
Flask-Cors==3.0.8
geographiclib==1.50
geopy==1.21.0
GetOldTweets3==0.0.11
google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.16.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
googletransx==2.4.2
gunicorn==19.7.1
httplib2==0.18.1
idna==2.8
itsdangerous==0.24
Jinja2==2.11.2
joblib==0.14.0
langdetect==1.0.8
legacy==0.1.6
lockfile==0.12.2
lxml==4.5.0
MarkupSafe==1.0
matplotlib==3.2.1
multidict==4.7.5
nltk==3.5
numpy==1.18.2
pandas==1.0.3
pid==3.0.3
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycparser==2.20
pymongo==3.10.1
pyparsing==2.4.7
pyquery==1.4.1
PySocks==1.7.1
python-daemon==2.2.4
python-dateutil==2.8.1
pytz==2017.2
regex==2020.5.14
requests==2.23.0
rsa==4.0
schedule==0.6.0
scipy==1.4.1
service==0.6.0
setproctitle==1.1.10
six==1.14.0
soupsieve==2.0
tqdm==4.46.0
twint==2.1.17
uritemplate==3.0.1
urllib3==1.24.2
Werkzeug==1.0.1
yarl==1.4.2